{% extends "template.html" %}

{% block title %}
Brothers
{% endblock %}

{% block head %}

    {{ super() }}

    <style>

        .section {
            width: 100%;
            max-width: var(--max-width);
        }
        
        a {
            display: flex;
            flex-flow: column nowrap;
            gap: .25rem;
        }

    </style>

{% endblock %}

{% block content %}

    <div class="section">

        <ul>
            {% for member in members %}
            <li class="nav-btn">
                <a href="/{{member['Major']}}" class="nav-btn-link">
                    <h4>
                        {{member["Name"]}}
                    </h4>
                    <p>{{member["Major"]}} - {{member["Year"]}}</p>
                </a>
            </li>
            {% endfor %}
        </ul>

    </div>

{% endblock %}